<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6fafa732de.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/general.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=320px, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <header>
        <section class="logo">
            <img width="250" height="250" src="/images/logo-mercado-liebre.svg">
        </section>
        <section class="barra_debusqueda">
           <div>
            <form>  
                <input type="text" class="buscador" placeholder="Buscar productos, Marcas y Mas">
                <label for="buscador"></label>
                <a href="" class="boton"><i class="fas fa-search"></i></a>
           </form>
        </div> 
        </section>
        <section>
            <article class="cuerpo_detexto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</article>
        </section>
        <section class="barra_denavegacion">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>
            <ul>
                <li><a href="">Créa Tu Cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>



    </header>
    <main>
        <section class="Galeria_prodrecomendados">
            <div>
                <h1   class="titulares"> Basado en tu última visita</h1>
                <img width="250" height="250" src="/images/img-cafetera-moulinex.jpg">
                <h3 class="precio"> $6.770 </h3>
                <h3 class="descuento">40% OFF</h3>
                <h2 class="descripciones"> Cafetera Moulinex</h2>
            </div>
            <div>

                <img width="250" height="250" src="/images/img-macbook-pro-2019.jpg">
                <h3 class="precio">$230.000</h3>
                <h3 class="descuento">20% OFF</h3>
                <h2 class="descripciones"> MacBook Pro 2019</h2>
            </div>
            <div>

                <img width="250" height="250" src="/images/img-samsung-galaxy-s10.jpg">
                <h3 class="precio"> $70.500 </h3>
                <h3 class="descuento">10% OFF</h3>
                <h2 class="descripciones"> Samsung Galaxy S10</h2>
            </div>
            <div>

                <img width="250" height="250" src="/images/img-tv-samsung-smart.jpg">
                <h3 class="precio"> $23.200 </h3>
                <h3 class="descuento">5% OFF</h3>
                <h2 class="descripciones"> SmartTv Samsung 43"</h2>
            </div>

        </section>
        <section class="galeria_ofertas">
            <h1 class="titulares"> Sección de Ofertas</h1>
            <div>

                <img width="250" height="250" src="/images/img-cafetera-moulinex.jpg">
                <h3 class="precio"> $6.770 </h3>
                <h3 class="descuento">40% OFF</h3>
                <h2 class="descripciones"> Cafetera Moulinex</h2>
            </div>
            <div>

                <img width="250" height="250" src="/images/img-macbook-pro-2019.jpg">
                <h3 class="precio">$230.000</h3>
                <h3  class="descuento">20% OFF</h3>
                <h2 class="descripciones"> MacBook Pro 2019</h2>
            </div>
            <div>

                <img width="250" height="250" src="/images/img-samsung-galaxy-s10.jpg">
                <h3 class="precio"> $70.500 </h3>
                <h3 class="descuento">10% OFF</h3>
                <h2 class="descripciones"> Samsung Galaxy S10</h2>
            </div>
            <div>

                <img width="250" height="250" src="/images/img-tv-samsung-smart.jpg">
                <h3 class="precio"> $23.200 </h3>
                <h3 class="descuento">5% OFF</h3>
                <h2 class="descripciones"> SmartTv Samsung 43"</h2>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div>

                <h4 class="titulares">Pagá con tarjeta o en efectivo</h4>
                <article class="cuerpo_detexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</article>

                <h4>Envío gratis desde $ 2.500</h4>
                <article class="cuerpo_detexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</article>
                <h4>Seguridad, de principio a fin</h4>
                <article class="cuerpo_detexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</article>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>

</html>