
header{
    background-color:  #EAC926;
    font-family:'Roboto' ;
}


.buscador{
background-color: #ebebeb;
};
.barra_denavegacion ul li{
   
    font-family: 'Roboto';
    font-size: 16px;
    
   
};
.burger-menu div{


    background-color:  #1259c3;;
    width: 15px;
    height: 15px;
};
form{
    background-color:  #EAC926;
}
ul{
    padding-left: 0;
}