@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* HEADER */
.header {
  background-color:#EAC926;;
  margin-bottom: 10px;
}
.button_search {
  font-size: 15px;
  margin: 0 0 10px 20px;
}
.header_logo {
  width: 45vw;
  height: 30px;
  margin-bottom: 10%;
  margin-left: 25px;
  padding: 5%;
  padding-left: 25px;
  padding-right: 25px;
}
.header_nav {
  display: flex;
  justify-content: left;
  flex-flow: column wrap;
}
.header_nav ul li a {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 12px;
  color: black;
}
.header_compraencuotas a {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 12px;
  color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.header_nav ul {
  list-style: none;
  display: none;
  padding: 0%;
}
p {
  font-family: "Roboto";
  font-size: 12px;
}
.burger-menu {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.burger-button {
  background-color: #1259c3;
  color: #ebebeb;
  width: 3rem;
  height: 3rem;
  border-radius: 11%;
  border: none;
  font-size: 20px;
}
.header_banner img {
  width: 100vw;
  height: 20vh;
}
.header_banner {
  margin-bottom: -14px;
  margin-top: 15px;
}

/* MAIN */
.main {
  background-color: #ebebeb;
  padding-bottom: 2px;
  margin-bottom: 0px;
  border: solid #ebebeb;
  border-top: 1px;
  height: 90%;
}
.main_section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  width: 90%;
}
.price {
    font-family: 'Roboto';
    padding-left: 3px;
}
.discount {
    color: #39b54a;
    padding-left: 2px;}

.main_title h1 {
  font-size: 24px;
  font-family: "Roboto";
  display: flex;
  justify-content: left;
  padding-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #666;
}

.price {
  font-size: 18px;
}
.discount {
  font-size: 16px;
  color: #39b54a;
}
h4 {
  font-size: 24px;
  font-family: "Roboto";
  color: #666;
}

.main i { 
    color:#39b54a;
    border-radius: 50%;
    border: 1px solid #39b54a;
    padding: 15px;
    width: 25px;
    height: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.article_cafetera {
  font-size: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 10%;
  margin-bottom: 10px;
  padding-top: 0%;
  background-color: #fff;
}

.article_macbook {
  font-size: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 10%;
  margin-bottom: 10px;
  padding-top: 2%;
  background-color: #fff;
}

.article_samsung {
  font-size: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 10%;
  margin-bottom: 10px;
  padding-top: 2%;
  background-color: #fff;
}

.article_smartv {
  font-size: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 10%;
  margin-bottom: 10px;
  padding-top: 2%;
  background-color: #fff;
}
.article_img {
  width: 55vw;
  height: 55vh;
}

.article-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    border-top: 1px solid #ebebeb;
    width: 100%;
}
/* FOOTER */
h4 {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
p {
  font-size: 12px;
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
    width: 80%
}
.footer li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}
.footer_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.footer_section ul {
  margin: 5px;
  text-align: center;
  width: 282px;
}
.copyright {
  display: flex;
  height: 60px;
  align-items: flex-end;
  flex-direction: row;
justify-content: flex-end;
margin-top: 30px;
margin-right: 50%;  
width: 100%;
}

.footer_icon {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 10px;
}
.footer_icon li {
  color: #1259c3;
  padding-top: 1em;
  font-size: 2em;
  margin-bottom: 10px;
}



@media (min-width: 766px) {
    /* HEADER */
   
    .header_nav ul {
       display: block;
   }
   burger-menu {
       display: none;
   }
   
   .article_cafetera {
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   .article_macbook {
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   .article_samsung {
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   .article_smartv {
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   
   }